<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Prediction</title>
</head>
<body>
    <h1>Car Price Prediction</h1>
    <form action="/" method="post">
        <label for="age">Age:</label>
        <input type="number" name="age" required><br>
        <label for="mileage">Mileage:</label>
        <input type="number" name="mileage" required><br>
        <input type="submit" value="Predict">
    </form>

    {% if prediction is defined %}
        <h2>Predicted Sell Price:</h2>
        <p>{{ prediction }}</p>
    {% endif %}
</body>
</html>
